@media all and (min-width: 62em) {
  .grid__col--md-2 {
    flex-basis: 14.267%;
  }
}

.wow-movies {

  a {
    text-decoration: none;

    img {
      border: 1px solid black;
    }

    h4 {
      border: 1px solid black;
      border-top: 0px;
    }
  }

  a:hover img {
    border: 1px solid red;
  }

  a:hover h4{
    color: red;
  }


  .movie-listing {
    overflow: hidden;
  }


  .anim-enter, .anim-leave {
      transition: all 350ms ease-out;
      overflow: hidden;
  }
  .anim-enter, .anim-leave.anim-leave-active {
      opacity: 0;
  }
  .anim-leave, .anim-enter.anim-enter-active {
      opacity: 1;
  }



  .movie-listing-enter {
    opacity: 0.01;
  }

  .movie-listing-enter.movie-listing-enter-active {
    opacity: 1;
    transition: max-height 500ms ease-in;
  }

  .movie-listing-leave {
    max-height: 0;
    opacity: 1;
  }

  .movie-listing-leave.movie-listing-leave-active {
    opacity: 0.01;
    max-height: 0;
    transition: max-height 500ms ease-out;
  }

  .cover {
    height: 110px;
  }

  .movies-list {
    li {
      margin: 0.5rem;
      margin-left: -2rem;
      font-size: 1.4rem;
    }
  }
}
