{
  "extends": "eslint-config-nordnet",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-multiple-empty-lines": [
      1, {"max": 2},
    ],
    "react/jsx-no-bind": [
      1, {
        "ignoreRefs": true,
        "allowArrowFunctions": true
      }
    ],
  },
  "globals": {
    "__USE_REM__": false
  }
}
