@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);


.wrapper {
  background-color: black;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 0 1px 0  0;
  flex: 1 100%;
}

.header {
  //background: tomato;
}

.footer {
  //background: lightgreen;
}

.main {
  text-align: left;
  max-width: 1400px;
  height: 100%;
}

.aside-1 {
  //background: gold;
}

.aside-2 {
//  background: hotpink;
}

.aside-3 {
//  background: hotpink;
}

@media all and (min-width: 768px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 768px) {
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

html {
  font-size: 62.5%;
  font-family: 'Raleway', Arial, sans-serif;
  background-color: black;
}

body {
  margin: 0;
  font-size: 1.6rem;
  background-color: #555;
}

.sides {
  flex-grow: 1;
}

h4 {
  font-size: 1.4rem;
}

.app {
  flex-basis: auto; /* default value */
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  background-color: #222;
  color: white;

  .primary-header {
  }

  .main {
    flex-grow: 2;
    max-width: 140rem;
    width: 80%;
  }

  .logo {
    position: relative;
    padding-top: 2rem;
    text-align: center;
    font-size: 0.9rem;
    padding-bottom: 1rem;
    background-color: #2C2C2C;
    font-style: italic;
  }


  .fb-like {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

.menu__container {
  width: 100%;
  background-color: #353535;
  padding: 0 0;
  text-align: center;
  padding-top: 1rem;

  &--border {
    border-bottom: 0.1rem solid lightgray;
    padding: 0.3rem;
    margin-bottom: 0rem;
  }

  &--adjust {
    padding-top: 0.4rem;
  }
}

.mainBody {
  background-color: #555;
}

.mainBody-enter {
  opacity: 0.01;
}

.mainBody-enter.mainBody-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.mainBody-leave {
  opacity: 1;
}

.mainBody-leave.mainBody-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.footer {
  color: #cecece;
  background-color: #353535;
  padding: 0 0 1rem 0;
  margin: 0;
  font-family: monospace;
  text-align: center;
  font-size: 1.8rem;

  &--border {
    border-top: 0.1rem solid lightgray;
    padding: 0.3rem;
    margin-bottom: 0rem;
  }
}
