.standardHeadline {
  font-size: 20px;
  font-family: monospace;
  background-color: #001f3f;
  color: hsla(210, 100%, 75%, 1.0);
  padding: 0.5rem 0 0.4rem 1.4rem;
  margin-bottom: 1rem;
}

.standardSubHeadline {
  font-family: monospace;
  background-color: #001f3f;
  color: hsla(210, 100%, 75%, 1.0);
  padding: 0.5rem 0 0.4rem 1.4rem;
  margin-bottom: 1rem;
}
