.home {
}

.main-grid {
  background-color: #111;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.new-line {
  margin-top: 2rem;
}

.entry {
  background-color: #111;

  .col--right {
    text-align: right;

    h3 {
      padding-right: 0.8rem;
    }
  }

  &__text {
    background-color: #730b0b;
    margin: 0.7rem 0 1rem -0.8rem;
    padding: 0.3rem 6.7rem 0.5rem 0.7rem;
    font-size: 1.6rem;
    width: 35rem;

    &--shorter {
      width: 22rem;
    }
  }
}

.player {

  &__col {
    margin-bottom: 1rem;
  }

  &__box {
  //  background-color: #444;

    .cover {
      object-fit: cover;
      width: 100%;
    }

    h4 {
      margin: 0rem;
      color: #CCC;
      background-color: #373737;
      padding: 0.5rem;
    }
  }

}
