.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}

.navbar-toggle {
  float: left;
}

.mini-gnurken {
  img {
    opacity: 0;
    transition: opacity 100ms ease-out;
    position: fixed;
    top: 0.1rem;
    left: 3rem;
  }
}

.mini-gnurken__visible {
  img {
    opacity: 1;
    transition: opacity 100ms ease-in;
  }
}

.navbar {
  margin-top: -1.1rem;
  margin-bottom: -0.6rem;
  text-align: left;
  a {
    text-decoration: none;
    outline: none;
    border-radius: 0.5rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
}
