.notFound {
  width: 100%;
  text-align: center;
  margin-top: 14rem;

  .text {
    margin-bottom: 2rem;
    padding: 0.3rem;
  }

  img {
    width: 98%;
  }
  
  a {
    font-size: 1.6rem;
    color: #0b0d46;
    text-decoration: none;

    &:hover {
      color: #27296d;
    }
  }
}

.side {
  background-color: #222;
  height: 100%;
}
